#header {
  font-family: 'VT323';
  text-align: center;
  font-weight: normal;
  font-size: 100px;
}
.container {
  background-color: rgba(128, 0, 0, 0.4);
  padding-left: 0px;
}
body {
  background-color: rgba(308, 86, 0, 0.1)
}
.welcome {
  background-color: rgba(308, 86, 86, 0.6);
}
h4 {
  text-align: center;
  font-family: 'Damion';
}
.instruction {
  text-align: center;
}
#list {
  padding-left: 200px;
  padding-right: 100px;
}
.list {
  margin-left: 0px;
}
#player {
  width: 350px;
}
#opponent {
  width: 350px;
}
#form {
  margin-left: 100px;
}
